*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
img {
    display: block;
    /* width: 100%; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: normal;
    letter-spacing: 1px;
}
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}


header {
    width: 100%;
    background: white;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    padding: 15px 0;
    margin-bottom: 30px;
    position: relative;
}
/* логотип */
.logo {
    display: flex;
    flex-direction: column;
    float: left;
}
.logo span {
    color: black;
    display: inline-block;
    /*width: 30px;*/
    /*height: 30px;*/
    line-height: 30px;
    /*border-radius: 50%;*/
    margin:  0;
    /*text-align: center;*/
    /*text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);*/
}
.main-logo{
    font-size: 27.5px;
}

/* меню */
#menu {
    float: right;
}
#menu li {
    display: inline-block;
    margin-right: 30px;
}
#menu a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    line-height: 40px;
}
#menu a:hover {
    color: #EF5A42;
}
#menu li:last-child {
    margin-right: 0;
}
/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #EF5A42;
    cursor: pointer;
}
.nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after {
    bottom: -10px;
}
/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu.active {
    max-height: 123px;
}

main .container{
    display: block;
}
.header{
    margin-bottom: 20px;
}
.banner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
}
.banner_fon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("img/banner.webp");
    margin-bottom: 40px;
}
.banner h1, h4{
    margin:0;
}
.posts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article{
    width: 35%;
    border: #cccccc 1px solid;
    display: flex;
    align-items: stretch;

}
.new{
    margin: 10px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main img{
    margin: 10px;
    align-items: center;
}
.header_posts{
    margin: 10px;
    margin-bottom: 30px;
}
.header_post1{
    margin: 10px;
}
main p{
    margin: 10px;
    line-height: 25px;
}
.img_posts{
    width: 70%;
}
.spisok li{
    list-style: circle;
    margin-left: 35px;
    line-height: 20px;
}

.description, .forma{
    margin-bottom: 20px;
}
.kadupis-decung,.reviews h2{
    margin-bottom: 15px;
}
.cumconevu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cumconevu .volupavum {
    background: #fdfafa;
    margin: 4px;
    margin-bottom: 20px;
    width: 315px;
    padding: 18px;
    line-height: 20px;
    position: relative;
}

.cumconevu .volupavum h3{
    font-size: 26px;
    margin-top: 50px;
    line-height: 20px;
}

.cumconevu .volupavum p.role {
    /*color: #676363;*/
    margin: 10px 0;
    font-size: 13px;
    text-transform: uppercase;
}
.vumkob-salovum img{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
.forma h2{
    margin-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
}
.text, .text_message{
    height: 30px;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    width: 550px;
}
.text_message{
    height: 250px;
}
.btn{
    width: 120px;
    height: 30px;
}
.date{
    width: 95%;
    text-align: right;
}
footer {
    padding: 30px 0;
    background: #3C3D41;
    color: white;
    margin-top: 30px;
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-col {
    width: 33.3333333333%;
    float: right;
}
.footer-col a {
    color: white;
}
.footer-col:last-child {
    text-align: right;
}
.social-bar-wrap {
    text-align: center;
    margin: 0;
}
.social-bar-wrap a {
    padding: 0 7px;
    font-size: 18px;
}

@media (max-width: 768px) {
    /* показываем кнопку для переключения верхней навигации */
    .nav-toggle {
        display: block;
    }
    header {
        padding: 10px 0;
    }
    /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
    #menu {
        max-height: 0;
        background: white;
        float: none;
        position: absolute;
        overflow: hidden;
        top: 63px;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 4;
    }
    /* делаем элементы списка блочными, чтобы они располагались друг под другом */
    #menu li {
        display: block;
        text-align: center;
        border-bottom: 1px solid #EBEBE3;
        margin-right: 0;
    }
   
    .banner{
        width: 100%;
    }
    article{
        width: 45%;
        margin: 15px;
    }
    .post1, .post2{
        justify-content: center;
    }

    .cumconevu{
        flex-direction: column;
        align-items: center;
    }

    .post3{
        display: none;
    }
}

@media (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /* отменяем обтекание для логотипа и выравниваем по центру*/
    .logo {
        float: none;
        margin: 0 auto 15px;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .main-logo{
         font-size: 16px;
     }
    .bottom-logo {
        margin: 0 2px;
        font-size: 12px;
    }

    /* позиционируем меню на увеличившуюся высоту шапки */
    #menu {
        top: 100px;
    }
    /* позиционируем форму поиска по левому краю */
    #searchform {
        float: left;
        margin-left: 0;
    }

    .banner_fon h1{
        font-size: 22px;
    }
    .banner_fon h4{
        font-size: 13px;
    }
    /* отменяем обтекание для столбцов подвала страницы */
    .footer-col {
        float: none;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .footer-col:last-child {
        text-align: center;
        margin-bottom: 0;
    }
    .posts{
        flex-direction: column;
        align-items: center;
    }
    article{
        width: 100%;
    }
    .text,.text_message{
        width: 300px;
    }
}
